<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></head>script>
	<![endif]-->

	<title>きになるほん</title>
	<!--
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	-->
	<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tmpl.min.js "></script>
	<script type="text/javascript" src="/js/css_switch.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<!-- Templates {{{ -->
	<script id="userTemplate" type="text/x-jquery-tmpl" data-name="_user_">
		<div>
			<img src="${avatar}" />
			<p>${nickname}さんの気になる本</p>
		</div>
	</script>

	<script id="dateListTemplate" type="text/x-jquery-tmpl" data-name="_date_list_">
		<li class="date"><p>${date[0]}<br />${date[1]}/${date[2]}</p></li>
	</script>

	<script id="thumbTemplate" type="text/x-jquery-tmpl" data-name="_thumb_">
		<img class="thumbnail" src="${largeimage}" alt="${title}" title="${comment}" />
	</script>

	<script id="bookListWrapper" type="text/x-jquery-tmpl" data-name="_book_">
		<li class="book">{{html $item.html()}}</li>
	</script>

	<script id="thumbListTemplate" type="text/x-jquery-tmpl" data-name="_thumb_list_">
		{{wrap "#bookListWrapper"}}
			{{tmpl "#thumbTemplate"}}
			{{if comment}}
				<p class="commentTip">${comment}</p>
			{{/if}}
		{{/wrap}}
	</script>

	<script id="avatarTemplate" type="text/x-jquery-tmpl" data-name="_avatar_">
		<img src="${avatar}" class="user" />
	</script>

	<script id="userListTemplate" type="text/x-jquery-tmpl" data-name="_user_list_">
		<li><a href="/#!/${key}">
			{{tmpl "#avatarTemplate"}}
		</a></li>
	</script>

	<script id="screenTemplate" type="text/x-jquery-tmpl" data-name="_screen_">
		<img id="book_image" src="${largeimage}" />
		<p>タイトル: <span id="book_title">${title}</span></p>
		<p>著者: <span id="book_author">${author}</span></p>
		<p>出版社: <span id="book_publisher">${publisher}</span></p>
		{{if comment}}
			<p>コメント: <span id="book_comment">${comment}</span></p>
		{{/if}}

		<p><a href="http://twitter.com/intent/tweet?text=+${tweet}" target="_blank">この本についてつぶやく</a></p>

		<br />
		<p>この本が気になっているユーザ</p>
		<ul id="book_users">
		</ul>

		<form method="GET" action="/add">
			<input type="hidden" name="isbn" id="book_isbn" value="${isbn}" />
			<textarea name="comment" placeholder="コメント"></textarea>
			<input type="submit" value="この本が気になる" />
		</form>
	</script>

	<script id="pagerTemplate" type="text/x-jquery-tmpl" data-name="_pager_">
		<li>
		{{if page === nowPage}}
			<span>${page}</span>
		{{else}}
			<a href="javascript:void(0);" data-page="${page}">${page}</a>
		{{/if}}
		</li>
	</script>

	<!-- /Templates }}} -->

	<!-- Google Analytics {{{ -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-12170891-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<!-- /Google Analytics }}} -->

</head>
<body>

	<!-- GitHub Ribbons -->
	<a href="https://github.com/liquidz/kininaru-hon"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
	<!-- /GitHub Ribbons -->

	<!-- templates -->
	<!-- /templates -->

	<header>
		<div class="left">
			<h1><a href="/">きになるほん</a></h1>
		</div>
		<div class="right">
			<nav>
			<ul>
				<li><a href="">ホーム</a></li>
				<li id="login_part"></li>
			</ul>
			</nav>
		</div>
	</header>


<div id="wrapper">
	<!-- message -->
	<p id="message"></p>

	<div class="left" id="container">
		<div id="top" class="when_not_login">
			<p>最近の気になる</p>
			<ul id="recent" class="kininaruList"></ul>
		</div>

		<div id="screen">
			<div id="screenContent"></div>
			<p id="screen_close"><a href="javascript:void(0);">とじる</a></p>
		</div>

		<ul id="kininaru" class="kininaruList"></ul>
	
		<div id="pager">
			<p id="prev"><a href="javascript:void(0);">&laquo; 前のページへ</a></p>
			<ul id="pages"></ul>
			<p id="next"><a href="javascript:void(0);">次のページへ &raquo;</a></p>
		</div>
	</div>

	<div class="right" id="menu">
		<div class="when_not_login">
			<p>気になる本をいつでも、どこでも、何度でも、どんどん共有するサービスです。</p>
			<p><a href="/login">Googleアカウントでログイン</a></p>
		</div>

		<div id="avatar"></div>

		<form method="GET" action="/add" class="when_login">
			<input type="text" name="isbn" placeholder="ISBN" />
			<textarea name="comment" placeholder="コメント"></textarea>
			<input type="submit" value="気になる本を追加" />
		</form>

		<div id="android">
			<a href="/static/KininaruHon.apk">
				<img src="/img/android_icon.png" /><br />
				公開前のプロトタイプアプリはこちら
			</a>

			<p>※ISBNコードをスキャンして登録するだけのアプリです</p>

		</div>

	</div>



</div>



	<footer>
		<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
		<img src="/img/clojure-logo.png" alt="Powered by Clojure" />

		<ul>
			<li><a href="">利用規約</a></li>
			<li><a href="https://github.com/liquidz/kininaru-hon">ソースコード</a></li>
		</ul>
		<p>Copyright &copy; 2011 <a href="http://twitter.com/uochan/">@uochan</a>. All rights reserved.</p>
	</footer>

</body>
</html>

