@import "common.css";
@import "header.css";
@import "effect.css";

body { }

.when_login, #message { display: none; }




#message {
	padding: 3px;
	margin-bottom: 10px;
	border-left: 3px solid #faa;
	color: #f00;
	font-size: small;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding-top: 10px;

	overflow: hidden;
}

#container {
	width: 640px;
}
#menu {
	width: 159px;
}

#menu form input[type=text], #menu form textarea {
	width: 150px;
}

li#login_part a { color: #fff; }

#avatar {
	text-align: center;
	margin-bottom: 20px;
}

#pager, #prev, #next {
	display: none;
}

#pager {
	overflow: hidden;
}
#pager p, #pager ul {
	float: left;
}

#pager a, #pager span {
	text-decoration: none;
	font-weight: bold;
	font-size: small;
}
ul#pages li span {
	color: #aaa;
}
#prev, #next, ul#pages li a, ul#pages li span {
	padding: 0 3px;
}

.image_replace {
	text-indent: -1000px;
	font-size: 0;
}


ul.kininaruList {
	overflow: hidden;
}

ul.kininaruList li {
	float: left;
	margin: 0 15px 5px 0;
}

ul.kininaruList li.book {
	position: relative;
}

ul.kininaruList li.book:hover p.commentTip {
	display: block;
}

p.commentTip {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;

	width: 100px;
	overflow: hidden;
	background: #fff;
	font-size: small;
	font-weight: bold;
	padding: 5px 3px;
}

ul.kininaruList li.book img { cursor: pointer; }
ul.kininaruList li.book img.thumbnail { width: 100px; height: 150px; }

ul.kininaruList li.book img.user {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	bottom: 0;
}

ul.kininaruList li.date {
	background: transparent url(/img/date.png) no-repeat 20px left;
	width: 60px;
	height: 150px;
}
ul.kininaruList li.date p {
	margin-top: 29px;
	color: #fff;
	font-size: small;
	font-weight: bold;
	text-align: center;
}

nav {
	text-align: right;
	margin-right: 150px;
	color: #fff;
}
nav ul li a {
	color: #fff;
}

nav ul, ul#book_users, ul.kininaruList, ul#pages, footer ul {
	list-style: none;
}

nav ul li, #book_users li, ul#pages li, footer ul li {
	display: inline;
}

nav ul li, footer ul li {
	padding-right: 10px;
}


img.avatar {
	width: 25px; height: 25px;
}


#screen {
	display: none;
	border: 2px solid #aaa;
	padding: 10px;
	margin: 0 20px 20px 0;
	overflow: hidden;
}
#screenContent > img {
	float: left;
	margin-right: 20px;
}

ul#book_users li a {
	text-decoration: none;
}
ul#book_users li img {
	width: 50px; height: 50px;
}




footer {
	margin: 20px 0 10px 0;
	text-align: center;
	font-size: small;
	letter-spacing: 2px;
}
