@import "common.css";
@import "header.css";
@import "effect.css";

body { }

.when_login, #message { display: none; }

#message {
	padding: 3px;
	margin-bottom: 10px;
	border-left: 3px solid #faa;
	color: #f00;
	font-size: small;
}

/* =layout {{{ */
#wrapper {
	width: 800px;
	margin: 0 auto;
	padding-top: 10px;

	overflow: hidden;
}

#container { width: 640px; }
#menu { width: 159px; }
/* /layout }}} */

/* =menu {{{ */
#menu form input[type=text], #menu form textarea { width: 150px; }

#menu #avatar {
	text-align: center;
	margin-bottom: 20px;
}
/* /menu }}} */

/* =pager {{{ */
#pager, #prev, #next { display: none; }
#pager { overflow: hidden; }
#pager p, #pager ul { float: left; }
#pager a, #pager span {
	text-decoration: none;
	font-weight: bold;
	font-size: small;
}
ul#pages { list-style: none; }
ul#pages li { display: inline; }
ul#pages li span { color: #aaa; }
#prev, #next, ul#pages li a, ul#pages li span { padding: 0 3px; }
/* /pager }}} */

/* =kininaruList {{{ */
ul.kininaruList { overflow: hidden; list-style: none; }
ul.kininaruList li { float: left; margin: 0 15px 5px 0; }
ul.kininaruList li.book { position: relative; }
ul.kininaruList li.book p.commentTip {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;

	width: 100px;
	overflow: hidden;
	background: #fff;
	font-size: small;
	font-weight: bold;
	padding: 5px 3px;
}
ul.kininaruList li.book:hover p.commentTip { display: block; }

ul.kininaruList li.book img { cursor: pointer; }
ul.kininaruList li.book img.thumbnail { width: 100px; height: 150px; }
ul.kininaruList li.book img.user {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	bottom: 0;
}

ul.kininaruList li.date {
	background: transparent url(/img/date.png) no-repeat 20px left;
	width: 60px;
	height: 150px;
}
ul.kininaruList li.date p {
	margin-top: 29px;
	color: #fff;
	font-size: small;
	font-weight: bold;
	text-align: center;
}
/* /kininaruList }}} */

/*
img.avatar { width: 25px; height: 25px; }
*/

/* =screen {{{ */
#screen {
	display: none;
	border: 2px solid #aaa;
	padding: 10px;
	margin: 0 20px 20px 0;
	overflow: hidden;
}
#screenContent > img {
	float: left;
	margin-right: 20px;
}

#screen ul#book_users { list-style: none; }
#screen ul#book_users li { display: inline; }
#screen ul#book_users li a { text-decoration: none; }
#screen ul#book_users li img { width: 50px; height: 50px; }
/* /screen }}} */

/* =footer {{{ */
footer {
	margin: 20px 0 10px 0;
	text-align: center;
	font-size: small;
	letter-spacing: 2px;
}
footer ul { list-style: none; }
footer ul li {
	display: inline;
	padding-right: 10px;
}
/* /footer }}} */

